

<%= form_with model: [:admin,item], local: true do |f| %>
  <div class="row form-group">
   <%= f.label "商品画像", class:"col-3 offset-2"%>
   <%= f.attachment_field :image, class:"col-3" %>
  </div>
  <div class="row form-group">
    <%= f.label "商品名", class:"col-3 offset-2" %>
    <%= f.text_field :name, class:"col-3"%>
  </div>
  <div class="row form-group">
    <%= f.label "商品説明", class:"col-3 offset-2" %>
    <%= f.text_area :caption, class:"col-5" %>
  </div>
  <div class="row form-group">
    <%= f.label "ジャンル選択", class:"col-3 offset-2" %>
    <%= f.collection_select :genre_id, genres, :id, :name, prompt: "選択してください", class:"col-1" %>
  </div>
  <div class="row form-group">
    <%= f.label "税抜価格", class:"col-3 offset-2" %>
    <%= f.text_field :price, class:"col-3" %>円
  </div>
  <div class="row form-groupn offset-4">
    <div class="col-3">販売中<%= f.radio_button :is_active, true %></div>
    <div class="col-3">販売停止中<%= f.radio_button :is_active, false %></div>
  </div>
  <div class="row form-group">
<%= f.submit '送信', class: "btn btn-success col-2 offset-4" %>
</div>
<% end %>