<div class="container">
  <div class="row">
    <h2 class="page-header">注文履歴詳細</h2>
  </div>

  <div class="row">
    <div>
      <table class="table table-borderless">
        <tr>
         <th>購入者</th>
         <td>
           <!-- cssでリンクの文字色を黒、下線ありに変更予定 -->
           <%= link_to admin_customer_path(@order.customer) do %>
             <%= customer_full_name(@order.customer.id) %>
           <% end %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d')%></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= delivery_full_address(@order.id) %></br>
            <%= @order.delivery_name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: [:admin,@order], url: admin_order_path,method: :patch, local:true do |f|%>
              <%= f.select :status, Order.statuses.keys %>
              <%= f.submit '更新', class: "btn btn-success btn-sm order_btn"%>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item|%>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= tax_price(order_item.item_id).to_s(:delimited) %></td>
              <td><%= order_item.quantity %></td>
              <td><%= order_items_sub_price(order_item.id).to_s(:delimited) %></td>
              <%= form_with model: [:admin,order_item], url: admin_order_item_path(order_item), method: :patch, local:true do |f| %>
                <td>
                  <%= f.select :product_status, OrderItem.product_statuses.keys %>
                </td>
                <td>
                  <%= f.submit '更新', class: "btn btn-sm btn-success order_item_btn" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-md-0 col-sm-0">
        <div>
          <strong>商品合計</strong>
          <p><%= (@order.total_price - postage) %>円</p>
        </div>
        <div>
          <strong>送料</strong>
          <p><%= postage %>円</p>
        </div>
        <div>
          <strong>請求金額合計</strong>
          <strong><%= @order.total_price %>円</strong>
        </div>
      </div>
  </div>

</div>
