<h1>商品一覧 <%= @items.count %>件</h1>
<h4><%= link_to "カートを見る" ,cart_items_path %></h4>


<% @items.each do |item| %>
<%# if item.is_active == true %>
<%= attachment_image_tag item, :image %>
<%= link_to item.name, item_path(item.id) %>

<%= item.price %>
<%# end %>
<% end %>