<div>
<h2 class="page-header">商品一覧 <%= @items.count %>件</h2>
<div class="container item-main">
  <div>
    <div class="row text-center">
    <% @items.each do |item| %>

      <div class="items-box">
        <%= attachment_image_tag item, :image, :fill, 200, 200 %><br>
        <%= link_to item.name, item_path(item.id) %><br>
        <%= item.price %>円
      </div>

    <% end %>
    </div>
  </div>
  <div class="row offset-5">
  <%= paginate @items %>
  </div>
</div>
</div>