<div class="container mt-3">
  <h2 class="page-header">商品詳細</h2>
  <div class="row">
    <%= render 'layouts/error', obj: @cart_item %>
    </div>
    <div class="row">

    <div>
      <%= attachment_image_tag @item, :image, :fill, 550, 400 %>
    </div>

    <div class="item-r">
      <h3><%= @item.name %></h3>
      <p class="mt-6"><%= @item.caption %></p>
      <p>💲<%= @total_price %>（税込）</p>
      <div class="form-group">
        <%= form_with model: @cart_item, url: cart_items_path,local: true do |f| %>
        <%= f.select :quantity,options_for_select(1..10), prompt: "選択してください" %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.submit "カートに入れる", class: 'btn btn-success ml-4' %>
      </div>
    <% end %>
    </div>
    </div>
  
</div>