<div class="container">
  <div class="row">
    <h2 class="page-header sign-in-header">ログイン</h2>
  </div>
  <div class="row">
    <h3 class="page-small-header mt-4">会員の方はこちらからログイン</h3>
  </div>
  <%= flash[:error] %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row form-group">
      <%= f.label :"メールアドレス", class: "col-2 mt-3 col-form-label customer-sign-in-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-5 mt-3 form-control form-control-sm" %>
    </div>

    <div class="row form-group">
      <%= f.label :"パスワード", class: "col-2 col-form-label customer-sign-in-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "col-5 form-control form-control-sm" %>
    </div>

    <div class="row form-group">
      <%= f.submit "ログイン", class: "btn btn-primary customer-sign-in-btn"%>
    </div>
  <% end %>
    <div class="row">
      <h3 class="page-small-header mt-5">会員登録がお済みでない方</h3>
    </div>
    <div class="row">
      <p class="sign-in-leading"><%= render "customers/shared/links" %>から新規登録を行ってください。</p>
    </div>

</div>